@dydu_ai:registry=https://nexus.doyoudreamup.com/repository/npm-private/
//nexus.doyoudreamup.com/repository/npm-private/:_auth=Z2l0bGFiLXJ1bm5lcjpWREhZK1B6UlNEVWNzekJRTDBLaTZYTFNiQjI2MEN3NzYxN0h3LzF5dlJ0bmpWRERqbkZFSVE9PQ==