.dydu-button {
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 0;

  &.dydu-button-default {
    align-items: center;
    border-radius: 4px;
    padding: .5em 1em;

    > *:not(:first-child) {
      margin-left: .5em;
    }
  }

  &.dydu-button-icon {
    $height: 40px;
    $width: 40px;

    align-items: center;
    border-radius: 50%;
    height: $height;
    justify-content: center;
    width: $width;

    img {
      $height: 20px;
      $width: 20px;

      height: $height;
      width: $width;
    }
  }

  &:hover {
  }
}
