@import '../../styles/palette';


.dydu-button {
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;

  &.dydu-button-default {
    align-items: center;
    border-radius: 4px;
    padding: .5em 1em;

    > *:not(:first-child) {
      margin-left: .5em;
    }
  }

  &.dydu-button-icon {
    $height: 40px;
    $width: 40px;

    align-items: center;
    border-radius: 50%;
    height: $height;
    justify-content: center;
    width: $width;
  }

  &:hover {
    @extend %background-primary-dark;
  }
}

.dydu-button-actions {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  > * {
    margin-left: .5em;
  }
}
