$accent: #FF4081;
$divider: #BDBDBD;
$primary-dark: #303F9F;
$primary-light: #C5CAE9;
$primary: #3F51B5;
$text-accent: #FFFFFF;
$text-primary: #212121;
$text-secondary: #757575;


%background-accent { background-color: $accent; }
%background-primary { background-color: $primary; }
%background-primary-dark { background-color: $primary-dark; }
%background-primary-light { background-color: $primary-light; }


%text-accent { color: $text-accent; }
%text-primary { color: $text-primary; }
%text-secondary { color: $text-secondary; }
