$palette-accent: #FF4081;
$palette-divider: #BDBDBD;
$palette-primary-dark: #303F9F;
$palette-primary-light: #C5CAE9;
$palette-primary: #3F51B5;
$palette-text-accent: #FFFFFF;
$palette-text-primary: #212121;
$palette-text-secondary: #757575;

%background-accent { background-color: $palette-accent; }
%background-primary { background-color: $palette-primary; }
%background-primary-dark { background-color: $palette-primary-dark; }
%background-primary-light { background-color: $palette-primary-light; }

%text-accent { color: $palette-text-accent; }
%text-primary { color: $palette-text-primary; }
%text-secondary { color: $palette-text-secondary; }

%palette-avatar-request {
  $color: $palette-primary;
  background-color: $color;
}

%palette-avatar-response {
  $color: #FFFFFF;
  background-color: $color;
}

%palette-bubble-request {
  $color: $palette-primary;
  @extend %text-accent;
  background-color: $color;
}

%palette-bubble-response {
  $color: #FFFFFF;
  background-color: $color;
}
