@font-face {
  font-family: 'Dydu-Font-Icon';
  src:  url('fonts/Dydu-Font-Icon.eot?46tx4h');
  src:  url('fonts/Dydu-Font-Icon.eot?46tx4h#iefix') format('embedded-opentype'),
    url('fonts/Dydu-Font-Icon.ttf?46tx4h') format('truetype'),
    url('fonts/Dydu-Font-Icon.woff?46tx4h') format('woff'),
    url('fonts/Dydu-Font-Icon.svg?46tx4h#Dydu-Font-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-dydu-"], [class*=" icon-dydu-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Dydu-Font-Icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dydu-power:before {
  content: "\e957";
  color: #46525f;
}
.icon-dydu-time:before {
  content: "\e958";
  color: #46525f;
}
.icon-dydu-timer:before {
  content: "\e959";
  color: #46525f;
}
.icon-dydu-microphon:before {
  content: "\e952";
  color: #46525f;
}
.icon-dydu-pause:before {
  content: "\e953";
  color: #46525f;
}
.icon-dydu-play:before {
  content: "\e954";
  color: #46525f;
}
.icon-dydu-replay:before {
  content: "\e955";
  color: #46525f;
}
.icon-dydu-stop:before {
  content: "\e956";
  color: #46525f;
}
.icon-dydu-database:before {
  content: "\e94a";
  color: #46525f;
}
.icon-dydu-font-minus:before {
  content: "\e94b";
  color: #46525f;
}
.icon-dydu-printer:before {
  content: "\e94c";
  color: #46525f;
}
.icon-dydu-loading:before {
  content: "\e94d";
  color: #46525f;
}
.icon-dydu-font-plus:before {
  content: "\e94e";
  color: #46525f;
}
.icon-dydu-open-in-new:before {
  content: "\e94f";
  color: #46525f;
}
.icon-dydu-shield-lock:before {
  content: "\e950";
  color: #46525f;
}
.icon-dydu-email-send:before {
  content: "\e951";
  color: #46525f;
}
.icon-dydu-Visible:before {
  content: "\e948";
  color: #46525f;
}
.icon-dydu-Invisible:before {
  content: "\e949";
  color: #46525f;
}
.icon-dydu-chatbox_reduire:before {
  content: "\e941";
  color: #46525f;
}
.icon-dydu-chatbox_phone:before {
  content: "\e942";
  color: #46525f;
}
.icon-dydu-chatbox_mail:before {
  content: "\e943";
  color: #46525f;
}
.icon-dydu-chatbox_account:before {
  content: "\e944";
  color: #46525f;
}
.icon-dydu-chatbox_conversation:before {
  content: "\e945";
  color: #46525f;
}
.icon-dydu-chatbox_contact:before {
  content: "\e946";
  color: #46525f;
}
.icon-dydu-chatbox_option:before {
  content: "\e947";
  color: #46525f;
}
.icon-dydu-calendar:before {
  content: "\e937";
  color: #46525f;
}
.icon-dydu-dynamic:before {
  content: "\e938";
  color: #46525f;
}
.icon-dydu-equalizer:before {
  content: "\e939";
  color: #46525f;
}
.icon-dydu-feather:before {
  content: "\e93a";
  color: #46525f;
}
.icon-dydu-flag:before {
  content: "\e93b";
  color: #46525f;
}
.icon-dydu-handle:before {
  content: "\e93c";
  color: #46525f;
}
.icon-dydu-headphones:before {
  content: "\e93d";
  color: #46525f;
}
.icon-dydu-info-bulle:before {
  content: "\e93e";
  color: #46525f;
}
.icon-dydu-junction:before {
  content: "\e93f";
  color: #46525f;
}
.icon-dydu-whatsapp:before {
  content: "\e940";
  color: #46525f;
}
.icon-dydu-dots:before {
  content: "\e936";
  color: #46525f;
}
.icon-dydu-branche:before {
  content: "\e935";
  color: #46525f;
}
.icon-dydu-color-picker:before {
  content: "\e934";
  color: #46525f;
}
.icon-dydu-arrow-down:before {
  content: "\e900";
}
.icon-dydu-arrow-left:before {
  content: "\e901";
}
.icon-dydu-arrow-right:before {
  content: "\e902";
}
.icon-dydu-arrow-up:before {
  content: "\e903";
}
.icon-dydu-caret-down:before {
  content: "\e904";
}
.icon-dydu-caret-left:before {
  content: "\e905";
}
.icon-dydu-caret-right:before {
  content: "\e906";
}
.icon-dydu-caret-up:before {
  content: "\e907";
}
.icon-dydu-add:before {
  content: "\e908";
}
.icon-dydu-check:before {
  content: "\e909";
}
.icon-dydu-close:before {
  content: "\e90a";
}
.icon-dydu-add-to-list:before {
  content: "\e90b";
}
.icon-dydu-bell:before {
  content: "\e90c";
}
.icon-dydu-bookmark:before {
  content: "\e90d";
}
.icon-dydu-chart:before {
  content: "\e90e";
}
.icon-dydu-chat-bubble:before {
  content: "\e90f";
}
.icon-dydu-check-circle:before {
  content: "\e910";
}
.icon-dydu-close-circle:before {
  content: "\e911";
}
.icon-dydu-warning:before {
  content: "\e912";
}
.icon-dydu-info:before {
  content: "\e913";
}
.icon-dydu-code:before {
  content: "\e914";
}
.icon-dydu-contact-book:before {
  content: "\e915";
}
.icon-dydu-copy:before {
  content: "\e916";
}
.icon-dydu-download:before {
  content: "\e917";
}
.icon-dydu-eraser:before {
  content: "\e918";
}
.icon-dydu-excel:before {
  content: "\e919";
}
.icon-dydu-eye:before {
  content: "\e91a";
}
.icon-dydu-hand:before {
  content: "\e91b";
}
.icon-dydu-instagram:before {
  content: "\e91c";
}
.icon-dydu-key:before {
  content: "\e91d";
}
.icon-dydu-keyboard:before {
  content: "\e91e";
}
.icon-dydu-link:before {
  content: "\e91f";
}
.icon-dydu-magnifier:before {
  content: "\e920";
}
.icon-dydu-mail:before {
  content: "\e921";
}
.icon-dydu-masks:before {
  content: "\e922";
}
.icon-dydu-maximize:before {
  content: "\e923";
}
.icon-dydu-messenger:before {
  content: "\e924";
}
.icon-dydu-minimize:before {
  content: "\e925";
}
.icon-dydu-palette:before {
  content: "\e926";
}
.icon-dydu-pencil:before {
  content: "\e927";
}
.icon-dydu-profile:before {
  content: "\e928";
}
.icon-dydu-puzzle:before {
  content: "\e929";
}
.icon-dydu-send:before {
  content: "\e92a";
}
.icon-dydu-signature:before {
  content: "\e92b";
}
.icon-dydu-star:before {
  content: "\e92c";
}
.icon-dydu-switch:before {
  content: "\e92d";
}
.icon-dydu-target:before {
  content: "\e92e";
}
.icon-dydu-thumb-down:before {
  content: "\e92f";
  color: #46525f;
}
.icon-dydu-thumb-up:before {
  content: "\e930";
  color: #46525f;
}
.icon-dydu-translate:before {
  content: "\e931";
}
.icon-dydu-trash:before {
  content: "\e932";
}
.icon-dydu-upload:before {
  content: "\e933";
}
