@import '../../styles/palette';
@import '../../styles/shadow';


.dydu-header {
  @extend %background-primary;
  @extend %shadow-1;
  @extend %text-accent;

  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: .5em;
  position: relative;

  .dydu-header-actions {
    align-items: center;
    display: flex;

    > * {
      margin-left: .5em;
    }
  }
}
