@import '../../styles/palette';
@import '../../styles/shadow';


.dydu-header {
  @extend %background-primary;
  @extend %shadow-2;
  @extend %text-accent;

  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 1em;
}
