.dydu-footer {
  display: flex;
  flex: 0 0 auto;
  padding: .5em;

  .dydu-footer-input {
    border: 0;
    flex: auto;
    padding-left: 1em;
  }

  .dydu-footer-actions {
    align-items: center;
    display: flex;

    > * {
      margin-left: .5em;
    }
  }
}
