.dydu-interaction {
  display: flex;

  &.dydu-interaction-request {
    margin-left: 2em;
  }

  &.dydu-interaction-response {
    margin-right: 2em;
  }

  &:not(:first-child) {
    padding-top: 1em;
  }

  .dydu-interaction-bubbles {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}
