@import '../../styles/palette';
@import '../../styles/shadow';


.dydu-interaction {
  display: flex;

  &:not(:first-child) {
    padding-top: 1em;
  }

  &.dydu-interaction-request {
    margin-left: auto;
  }

  .dydu-interaction-bubbles {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}
