{
  "application": {
    "open": false
  },
  "avatar": {
    "styles": {
      "boxShadow": "none"
    }
  },
  "bubble": {
    "styles": {
      "boxShadow": "none"
    }
  },
  "chatbox": {
    "styles": {
      "height": 500,
      "width": 350
    }
  },
  "dialog": {},
  "footer": {},
  "header": {},
  "interaction": {
    "avatar": true,
    "loader": [true, 500, 500, 500]
  },
  "teaser": {}
}
