{
  "application": {
    "bottom": 16,
    "open": false,
    "right": 16,
    "top": 16
  },
  "avatar": {
    "shadow": true
  },
  "bubble": {
    "shadow": true
  },
  "chatbox": {
    "height": "100%",
    "shadow": 6,
    "width": 350
  },
  "footer": {},
  "header": {
    "shadow": true
  },
  "input": {
    "delay": 300,
    "placeholder": "Type here...",
    "suggestions": {
      "shadow": true
    }
  },
  "interaction": {
    "avatar": {
      "request": false,
      "response": true
    },
    "loader": [true, 250, 600, 300]
  },
  "loader": {
    "shadow": true,
    "size": 3
  },
  "teaser": {
    "shadow": 6
  }
}
