{
  "application": {
    "bottom": 16,
    "open": false,
    "right": 16
  },
  "avatar": {
    "shadow": true
  },
  "bubble": {
    "shadow": true
  },
  "chatbox": {
    "height": 500,
    "shadow": 6,
    "width": 350
  },
  "footer": {},
  "header": {
    "shadow": true
  },
  "interaction": {
    "avatar": {
      "request": false,
      "response": true
    },
    "loader": [true, 250, 600, 300]
  },
  "teaser": {
    "shadow": 6
  }
}
